extends layout

block content
    ul.collection
      each perso in persos
        li.collection-item=perso.name
          a.secondary-content(onClick=`see(${perso.id})`)
            i.material-icons send
